html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    display: table-cell;
    vertical-align: middle;
}

.content {
    display: block;
    max-width: 912px;
    margin: 0 auto;
}

.title {
    font-size: 96px;
    text-align: center;
}

ul {
    font-family: arial;
    color: #848484;
}

dl.main-nav{
    font-family: arial;
    color: #848484;
    margin: 20px auto;
    width: 840px;
}

.main-nav dt{
    padding-top: 1em;
}